
*{ /* 1er selector -  Universal */
    padding: 0;
    margin: 0;
  }
  
  /*Elementos semanticos */
  body{
    font-family: arial,Verdana,sans-serif;/* definir un tipo de fuente*/
    background: #f1f1f1;  /* definir un color de fondo */
    font-size: 14px;    /* definir un tamaño de fuente*/
  }
 header
{
  background-position : top;
 height: 600px; /* definir altura       url('imagenes/DunaF.jpg');*/
 text-align: center;
 background-image: url('imagenes/LogoDunaF.png'); 
 background-position: 10% 8%;
 
}

main{
    padding: 20px;/* definimos 40 pixeles para cada lado*/
  
  }

  main::after{
    content: "";
    display:block;
    clear:both;
  }
  